<div class="topic-description">
    <span>Setup the topic requests.</span>
</div>
<div class="topic-parameters">
    <div class="topic-parameter-group">
        <div class="topic-description">
            <span>Terms</span>
        </div>
        <div class="topic-parameter">
            <span>Include: </span>
            <input class="topic-term" type="text" name="terms-include"/>
        </div>
        <div class="topic-parameter">
            <span>Exclude: </span>
            <input class="topic-term" type="text" name="terms-exclude"/>
        </div>
    </div>
</div>
<div class="topic-submit">
    <button id="topic-tiler" class="button">
        Get Topics
    </button>
</div>
