<div class="topic-drilldown">
    <div class="drilldown-label">
        <span>'{{topic}}' Tweets</span>
    </div>
    <div class="drilldown-item">
        {{#each tweets}}
            <div class="drilldown-item">
                <span>{{this}}</span>
            </div>
        {{/each}}
    </div>
</div>
