<div class="topic-description">
    <span>Setup the topic requests.</span>
</div>
<div class="topic-parameters">
    <div class="topic-parameter-group">
        <div class="topic-description">
            <span>Terms</span>
        </div>
        <div class="topic-parameter">
            <span>Include: </span>
            <input class="topic-term" type="text" name="terms-include"/>
        </div>
        <div class="topic-parameter">
            <span>Exclude: </span>
            <input class="topic-term" type="text" name="terms-exclude"/>
        </div>
    </div>
    <div class="topic-parameter-group">
        <div class="topic-description">
            <span>Topic Counts</span>
        </div>
        <div class="topic-parameter">
            <span>Cluster Count: </span>
            <input class="topic-count" type="text" name="count-cluster"/>
        </div>
        <div class="topic-parameter">
            <span>Word Count: </span>
            <input class="topic-count" type="text" name="count-word"/>
        </div>
    </div>
    <div class="topic-parameter-group">
        <div class="topic-description">
            <span>Algorithm</span>
        </div>
        <div class="topic-parameter">
            <span>Exclusiveness: </span>
            <input class="topic-count" type="text" name="count-exclusiveness"/>
        </div>
    </div>
</div>
<div class="topic-submit">
    <button id="topic-tiler" class="button">
        Get Topics
    </button>
</div>
