<div class="topic-drilldown">
    <div class="drilldown-label">
        <span>'{{topic}}' Tweets</span>
    </div>
    <div class="drilldown-item">
        {{#each tweets}}
            <div class="drilldown-label">
                <span>Username: </span>
            </div>
            <div class="drilldown-item">
                <span>{{_source.username}}</span>
            </div>
            <div class="drilldown-label">
                <span>Tweet: </span>
            </div>
            <div class="drilldown-item">
                <span>{{_source.text}}</span>
            </div>
        {{/each}}
    </div>
</div>
