<div class="topic-drilldown">
    <div class="topic-title">
        <span>'{{topic}}' Tweets</span>
    </div>
    <div class="topic-tweets">
        {{#each tweets}}
            <div class="topic-tweet">
                <span>{{this}}</span>
            </div>
        {{/each}}
    </div>
</div>
